<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" type="image/ico" href="images/list1.ico" />
<title>Express-O Coffee - Menu</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<header>
	<img src="images/header2.jpg" alt="Logo" height="250" width="1500" usemap="#home">
  <map name="home">
    <area shape="rect" coords="250,103,500,200" href="expresshome.html" title="expresshome" alt="expresshome" />
    <area shape="default" nohref="nohref" title="Default" alt="Default"/>
  </map>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <style>#qw{
    position: absolute;
    z-index: 100;
    top: 760px;
  }


textarea,input.ng-invalid {
    background-color:pink;
}
textarea,input.ng-valid {
    background-color:lightgreen;
}

  </style>
  </header>
  <link rel="stylesheet" type="text/css" href="default.css">
</head>
<script type="text/javascript">
var validationApp = angular.module('validationApp', []);

  // create angular controller
  validationApp.controller('mainController', function($scope) {

    // function to submit the form after all validation has occurred      
    $scope.submitForm = function() {

      // check to make sure the form is completely valid
      if ($scope.myForm.$invalid) {
        alert('Please Check your form');
      } else
      {
        alert('Form Submitted Successfully');
      }

    };

  });
</script>
<body id ="bg" style="background-color:#f2f2f2;"><br>
<nav id = "nav">
  <a style="background:#331a00; color: white; border-radius: 25px; padding : 10px 20px; text-decoration: none;"  href = "expresshome.html"><b>Home &nbsp;</b></a>
  <a style="background:#331a00; color: white; border-radius: 25px; padding : 10px 20px; text-decoration: none;" href = "menu.html"><b>Menu &nbsp;</b></a>
  <a style="background:#331a00; color: white; border-radius: 25px; padding : 10px 20px; text-decoration: none;"  href = "aboutus.html"><b>About Us &nbsp;</b></a>
  <a style="background:#331a00; color: white; border-radius: 25px; padding : 10px 20px; text-decoration: none;"  href = "careers.html"><b>Careers </b></a>
 <a style="background:#331a00; color: white; border-radius: 25px; padding : 10px 20px; text-decoration: none;"  href = "feedback.html"><b>Feedback &nbsp; </b></a>
  <a style="background:#331a00; color: white; border-radius: 25px; padding : 10px 20px; text-decoration: none;"  href = "registration.html"><b>Registration &nbsp; </b></a>   
</nav>
<main>

<h1 align="center">Feedback Form</h1><br>
<nav id = "nav">
<form  ng-submit="submitForm()" method="post" ng-app="validationApp" ng-controller="mainController" name="myForm">
 <label>Your name: </label><br>
<input type="text" placeholder="First name"required name="name" ng-model="name" id="name" ng-minlength="3" ng-maxlength="8"><br>
<p ng-show="myForm.name.$error.minlength" >Username is too short.</p>
    <p ng-show="myForm.name.$error.maxlength" >Username is too long.</p>
<br>
 <label>Your email:  </label><br>
<input type="email" placeholder="xyz@yahoo.com" name="myAddress"required ng-model="email">
    <p ng-show="myForm.myAddress.$error.email">Not a valid e-mail address<br></p>
<br><br>
 <label>Your comments:  </label><br>
<input name="comments" ng-model="text" required placeholder="Comments" ng-model="comments" id="comments" ng-minlength="6"rows="5" cols="32">
</input><br><br>
<p ng-show="myForm.comments.$error.minlength" >Username is too short.</p>
<input type="submit" value="Submit"> 
</form></nav>

<br/>
</main>
<footer>
 <table id ="qw" width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td width="25%" align = "left"><img src="images/social.png" alt="Web Logos" height="50" width="300" usemap="#social" /></td>
<map name="social">
    <area shape="rect" coords="5,1,50,50" href="https://www.facebook.com/ExpressoCoffeeCompany/" title="Fb" target = "blank" alt="Fb" />
    <area shape="rect" coords="120,1,50,50" href="https://twitter.com/hashtag/expresso" title="twitter.org" target = "blank" alt="twitter.org" />
    <area shape="rect" coords="180,1,120,50" href="https://www.instagram.com/explore/tags/expressocoffee/" title="instagram" target = "blank" alt="instagram" />
    <area shape="rect" coords="240,1,180,50" href="https://www.pinterest.com/akaaneesa/coffee-espresso-espresso-bars/" title="pintrest.org" target = "blank" alt="pintrest.org" />
    <area shape="rect" coords="300,1,240,50" href="https://plus.google.com/106796006053686447789" title="gplus" target = "blank" alt="gplus"/>
    <area shape="default" nohref="nohref" title="Default" alt="Default"/>
</map>
<img src="images/ban.jpg" width="1500" height="200" />
      <td width="25%" align = "center"><small><i><b>Copyright &copy; 2016</b> <a href = "expresshome.html" style="color: #663300"><b>Express-O Coffee</b></a>. <b>All rights reserved</b></i></small></td>
      <td width="25%" align = "center"><small><i><a href = "privacy.html"style="color: #663300" ><b>Terms & conditions</b></a></i></small></td>
      <td width="15%" align = "center"><small><i><a target = "blank" style="color: #663300"href = "https://login.microsoftonline.com/"><b>Email Us</b></a></i></small></td>
</tr>
  </table>
  
</footer>
</body>
</html>